.card {
  border: 1px black solid;
  position: relative;
}

.card-title {
  font-family: "Lucida Console", Lucida, monospace;
  font-size: 1.5em;
  padding: 20px;
  background: #fdfdfd;
  height: 180px;
}

.card-subtitle {
  font-size: 1em;
  background: dodgerblue;
  height: 40px;
  width: 100%;
  display: table;
}

.card-subtitle-text {
  padding-left: 20px;
  display: table-cell;
  vertical-align: middle;
  line-height: normal;
}

.card-id {
  text-align: right;
  min-width: 1.5em;
  font-size: 1em;
  position: absolute;
  float: right;
  display: inline-block;
  background: #d4f3e8;
  border-radius: 25px;
  padding: 5px;
  bottom: 25px;
  right: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 20px;
}

.card-table {
  width: 1000px;
}

.card-table-item {
  border: 1px dashed #cccccc;
  vertical-align:middle !important;
  width: 500px;
  padding: 20px 20px;
}

@media print {
  tr {
    page-break-inside: avoid;
  }
  .card {
    border: 1px black solid;
  }
}
